<div class="login-form">
    <div  class="forgot-psw" style="width: 100%;background-color:#f1f1f1">
      <span>Login</span>
    </div>

    <div class="imgcontainer">
      <img src="assets/images/img_avatar2.png" alt="Avatar" class="avatar">
    </div>
  
    <div style="width: 100%">
      <label for="uname"><b>Username</b></label>
      <input type="text" class="input-login" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" class="input-login" placeholder="Enter Password" name="psw" required>
          
      <button type="submit" class="button-loggin">Login</button>
    </div>
  
    <div style="width: 100%;background-color:#f1f1f1">
      <span class="psw">Forgot <a href="javascript:void(0)" onclick="routeapp('forgotPassword');">password?</a></span>
    </div>
  </div>
