<div class="login-form">
    <div  class="forgot-psw" style="width: 100%;background-color:#f1f1f1">
      <span>New Password</span>
    </div>

    <div class="imgcontainer">
      <img src="assets/images/img_avatar2.png" alt="Avatar" class="avatar">
    </div>
  
    <div style="width: 100%">  
      <label for="psw"><b>Password</b></label>
      <input type="password" class="input-login" placeholder="Enter Password" name="psw" required>
          
      <label for="psw2"><b>Repeat Password</b></label>
      <input type="password" class="input-login" placeholder="Enter Repeat Password" name="psw2" required>

      <button type="submit" class="button-loggin">Change</button>
    </div>
  </div>
